[submodule "back"]
	path = back
	url = https://github.com/lunanie/chatdsd-back
[submodule "front"]
	path = front
	url = https://github.com/lunanie/chatdsd-front.git
[submodule "storybook"]
	path = storybook
	url = https://github.com/lunanie/chatdsd-storybook.git
