# [submodule "server"]
# 	path = server
# 	url = https://github.com/lunanie/chatdsd-back
# [submodule "front"]
# 	path = client
# 	url = https://github.com/lunanie/chatdsd-front.git
[submodule "back"]
	path = back
	url = https://github.com/lunanie/chatdsd-back
[submodule "front"]
	path = front
	url = https://github.com/lunanie/chatdsd-front.git
